@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  background-color: hsl(228, 33%, 97%);
  font-family: 'Rubik', serif;
}
